<div class="row">
  <div class="col-12 mb-3">
    <h1 class="mb-3 text-center">Cookbook App</h1>
    <h2 class="text-center">Login</h2>
  </div>
  <div class="col-12">
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label for="email">Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="vlad@mail.com"
            formControlName="email"
            required=""
            id="email"
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label for="password">Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="********"
            formControlName="password"
            required=""
            id="password"
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-checkbox formControlName="signUp">
          Sign me up, I am New</mat-checkbox
        >
      </div>
      <div class="mb-3">
        <button
          type="submit"
          [disabled]="!form.valid"
          mat-raised-button
          color="primary"
        >
          <mat-icon>login</mat-icon> Login
        </button>
      </div>
    </form>
  </div>
</div>
